<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Homework Server</title>
</head>
<body>

    {% extends 'base/base.html' %}
    {% block content %}
    
    
        <!-- <ul>
            name defined from views under mainPage
            {% for x in name %} 
                <li>{{x.name}}
                    <form action="/delete/{{x.id}}/" method="post">{% csrf_token %}
                        <input type="submit" value="delete" />
                </li>
                </form>
            {% endfor %}
        </ul>
output_database
        csrf_token is added for security purposes
        <form action="/store/" method="post">{% csrf_token %}
            <input type="text" name="filename"/>
            <input type="submit" value="Submit"/>
        </form> -->

    {% endblock %}
</body>
</html>