{% extends 'base/base.html' %}
{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Lecture</th>
                <th scope="col">Field</th>
                <th scope="col">File</th>
                <th scope="col">Uses</th>
                <th scope="col">Difficulty Level</th>
                <th scope="col">Comment</th>
                <th scope="col">Source</th>
                <th scope="col">Author</th>
                <th scope="col">Type</th>
                <th scope="col">Learning Outcome</th>
                <th scope="col">Purpose</th>
                <th scope="col">Grading</th>

            </tr>
        </thead>

            {% if searched %}
                <h1>You searched for '{{ searched }}' </h1>
                <br />
                {% for temp in data %}
                
                    
                    <tbody>
                        <tr>
                            <td>{{temp.id}}</td>
                            <td><a href="{% url 'database-followup' temp.id %}">{{ temp }}</a></td>
                            <td>{{temp.nameOfLectures}}</td>
                            <td>{{temp.fields}}</td>
                            <td><a href="/{{file.file_upload}}">{{file.file_upload}}</a></td>
                            <td>{{temp.usedFor}}</td>
                            <td>{{temp.difficultyLevel}}</td>
                            <td>{{temp.comment}}</td>
                            <td>{{temp.sourceOfProblem}}</td>
                            <td>{{temp.author}}</td>
                            <td>{{temp.typeOfProblem}}</td>
                            <td>{{temp.intendedLearningOutcome}}</td>
                            <td>{{temp.purposeOfFile}}</td>
                            <td>{{temp.grading}}</td>
                        </tr>
                    
                    </tbody>
                {% endfor %}
    </table>
            {% else %}
                <h1>You forgot to search</h1>
            {% endif %} 

{% endblock %}